.highlights { background-color:#31EF78; padding: 2px;}

a:link {
    color: #31EF78;
}

a:hover {
    color: #FF00FF;
}

#topimg {
    width: 100%;
}
#wrapper{
    height:100%;
    width:100%;
}

body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color:black;
    font-size:20pt;
    line-height:1.5em;
    text-align: center;
    min-width: 740px;
    height:100%;
    /*background: #212124; */
    /*background-image: url("../img/background.jpg")*/
}

div.undercut {
    width:430px;
    font-size:20pt;
    line-height:1.5em;
    text-align: left;
    margin: 0 auto;
}
div.social {
    text-align: right;
    width:100%;
}

span.social {
    font-size: 18pt;
}
@media (max-width: 767px) {
    div.undercut {
        width:80%
    }
}

