<head>
  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="manifest" href="/img/site.webmanifest">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="referrer" content="always">
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }} ">
	<link rel="canonical" href="{{ .Permalink }}">
	{{ template "_internal/opengraph.html" . }}
	{{ template "_internal/twitter_cards.html" . }}
	<link rel="icon" href="/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/css/gruvbox-dark.css">
	<link rel="stylesheet" type="text/css" href="/css/hack.css">
	<title>
		 {{ if not .IsHome }}{{ with .Title }} {{ . }} | {{ end }} {{ end }} {{ .Site.Title }}
	</title>
</head>


